# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/
/static/
# Database
db.sqlite3

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace